# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Node.js
node_modules/

# Internal
_/
# cmd/
assets/music.old/
# app.lnk
# info.txt

# System Files
desktop.ini