# Thumbnails
.DS_Store
Thumbs.db
desktop.ini

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Node & lock files
node_modules/
package-lock.json

# CI - To check if all files have a corresponding rule in .gitattributes
gitattributes_check.sh