@font-face {
    font-family: 'FOT-RodinBokutoh Pro B';
    src: url('FOT-RodinBokutoh%20Pro%20B.otf')
}

@font-face {
    font-family: 'FOT-Seurat Pro B';
    src: url('FOT-Seurat%20Pro%20B.otf')
}

body {
    margin: 0;
    padding: 0;
    background: lightskyblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button {
    font-family: 'FOT-RodinBokutoh Pro B', sans-serif;
    color: white;
    -webkit-text-stroke-width: .15vmin;
    -webkit-text-stroke-color: black;
}

a {
    text-decoration: none;
}

#back {
    left: 2vmin;
    top: 2vmin;
    position: sticky;
    font-size: 5vmin;
}

#back img {
    width: 5%;
}

.nookPhone {
    text-align: center;
    background-image: url("nookphone-bg.png");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    border-radius: 10vmin;
    color: white;
    font-size: 3vmin;
    width: 64vmin;
}

.nookPhone_app {
    margin-bottom: 1vmin;
    margin-top: 1vmin;
    border-radius: 35%;
    filter: drop-shadow(.5vh .5vh .15vh rgba(0, 0, 0, .6));
    cursor: pointer;
    z-index: 1;
    user-select: none;
    pointer-events: all;
    transition-duration: .07s;
    transition-timing-function: ease-in-out;
    width: 14vmin;
}

.nookPhone_app_other {
    border-radius: 35%;
}

img.nookPhone_app,
img.nookPhone_app_other {
    transition: .3s;
}

.nookPhone_app:hover,
.nookPhone_app_other:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.nookPhone_app:active,
.nookPhone_app:focus-visible,
a:focus-visible .nookPhone_app {
    animation: bounceButton .25s ease-in-out forwards;
}

.lightblueBox {
    top: 5vmin;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 1vmin;
    color: white;
    font-size: 3.5vmin;
    width: 70vmin;
    padding: 8px;
}

.snow {
	background-image: url(snow.png);
	background-position: center center;
}

.bottomLinks {
    text-align: center;
    font-size: 4vmin;
}

.flex {
    display: flex;
    justify-content: center;
}

.flexbox {
    display: flexbox;
}

button {
    background-color: #38d1fc;
    outline-color: initial;
    border-radius: 3vmin;
    color: white;
    font-size: 5vmin;
    block-size: inherit;
}

button:hover {
    transform: translateY(-1vmin);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 30vmin;
    font-size: 4vmin;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6vmin;
    padding: 5vmin;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -20vmin;
    opacity: 0;
    transition: opacity .3s;
}

.tooltip .tooltiptext::after {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#install-tooltip {
    font-size: small;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.kbd-list {
    text-align: left;
    color: cyan;
}

.kbd-hint {
    font-size: 5vmin;
    color: inherit;
}

#fileSelect {
    color: cyan;
}